<mat-form-field>
  <mat-label>Choose Date Range</mat-label>
  <mat-date-range-input [rangePicker]="myRangePicker">
    <input [(ngModel)]="startDate" matStartDate placeholder="Start date" (ngModelChange)="updateChart();">
    <input [(ngModel)]="endDate" matEndDate placeholder="End date" (ngModelChange)="updateChart();">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="myRangePicker"></mat-datepicker-toggle>
  <mat-date-range-picker #myRangePicker></mat-date-range-picker>
</mat-form-field>
